<h2><%= t "views.admin.book.edit.updatebook" %></h2>
<% provide(:button_text, t("views.admin.book.edit.updatebutton")) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @book], url: admin_restaurant_path(@book), method: :put, html: {multipart: true} do |f| %>
  <%= render partial: "shared/error_messages", locals: {object: @book}  %>

  <span>
    <%= t("views.admin.book.new.category") %>: <%= f.select :category_id,
      options_for_select(@categories.collect {|c| [c.title, c.id]})%>
  </span>

  <%= f.label :name %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :address %>
  <%= f.text_field :author, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <%= book_image_select(@book) %>
  <%= f.label :image %>
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>

  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
  </div>
</div>
