<title><%= t "views.session.new.login" %></title>
<div class="container-fluid">
  <div class="hatd-login">
    <section id="content">
      <%= form_for(:session, url: login_path) do |f| %>
        <h1><%= t "views.session.new.login" %></h1>
        <div>
          <input type="email" placeholder="Username" required="" id="username" name="session[email]" />
        </div>

        <div>
          <input type="password" placeholder="Password" required="" id="password" name="session[password]" />
        </div>

        <div style="margin-top: 25px">
          <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
            <span><%= t "views.session.new.remember" %></span>
          <% end %>
        </div>

        <div>
          <%= f.submit t("views.session.new.login"), class: "btn btn-primary" %>
          <%= link_to t("views.session.new.signupnow"), signup_path %>
        </div>
      <% end %>

    </section><!-- content -->
  </div><!-- container -->
</div>
