<div class="strator">
  <h5>
    <%= link_to comment.user do%>
      <%= comment.user.name %>
    <% end %>
    <span class="comment-edit">
      <% if current_user && comment.user.is_user?(current_user) %>
        <%= link_to edit_restaurant_review_comment_path(book, review, comment),
          remote: :true do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to restaurant_review_comment_path(book, review, comment),
          method: :delete, data: {confirm: t("views.book.show.delete_comment")}, remote: :true do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      <% end %>
    </span>
  </h5>
  <p><%= time_ago_in_words(comment.created_at) %>
    <%= t("views.activities.ago") %></p>
    <div class="strator-left">
      <%= link_to comment.user do%>
        <%= image_tag comment.user.avatar.url, size: "83x83" %>
      <% end %>
    </div>
    <div class="strator-right">
      <p class="sin" id="comment_content_<%= comment.id %>"><%= comment.content %></p>
      <% if current_user && comment.user.is_user?(current_user) %>
        <%= form_for [book, review, comment], url: restaurant_review_comment_url(book, review, comment),
          html: {class: "hidden comment-edit-form", id: "comment_form_#{comment.id}"}, method: :put, remote: :true do |f| %>
          <%= f.text_field :content %>
        <% end %>
      <% end %>
    </div>
  <div class="clearfix"></div>
</div>
