<div class="review-card">
  <div style="margin-left: 691px">
    <%= link_to admin_restaurant_review_path(review.book, review),
      method: :delete, data: {confirm: t("views.book.show.delete_confirm")} do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </div>
  <%= link_to review.user do %>
    <%= image_tag review.user.avatar.url, size: "30x30" %>
    <span class="user-name">
      <%= review.user.name %>
    </span>
  <% end %>
  <span class="time-ago-in-words pull-right">
    <%= time_ago_in_words(review.created_at) %>
    <%= t("views.activities.ago") %>
  </span>
  <%= review_image_select(review) %>
  <div>
    <b><%= "Rate Place" %></b>
    <span class="review-rating" data-score="<%= review.rating_place %>" ></span>
  </div>
  <div>
    <b><%= "Rate Service" %></b>
    <span class="review-rating" data-score="<%= review.rating_service %>" ></span>
  </div>
  <div>
    <b><%= "Rate Food" %></b>
    <span class="review-rating" data-score="<%= review.rating_food %>" ></span>
  </div>
  <div>
    <b><%= "Rate Price" %></b>
    <span class="review-rating" data-score="<%= review.rating_price %>" ></span>
  </div>
  <div>
    <b><%= t "views.reviews.rating" %></b>
    <span class="review-rating" data-score="<%= review.rating %>" ></span>
  </div>

  <div>
    <b><%= t "views.reviews.title" %></b>
    <%= review.title %></br>
    <b><%= t "views.reviews.content" %></b>
    <%= review.content %>
  </div>
  <div class="comments" id="comments_<%= review.id %>">
    <%= render review.comments %>
  </div>
</div>
<div class="clearfix"></div>
