<% followings.each do |following|%>
  <div class="show-activity">
  <% activities = following.activities %>
  <div class="recently-actions">
    <% activities.each do |activity| %>
      <div class="recently-action">
        <div>
          <span><%= image_tag activity.owner.avatar.url(:thumb),
            size: Settings.activity.avatar_size, class: "img-rounded" %></span>
          <%if activity.owner == current_user %>
            <span><%= link_to t("views.activities.you") , activity.owner %></span>
          <% else %>
            <span><%= link_to activity.owner.name, activity.owner %></span>
          <% end %>
          <span><%= activity.message %></span>
          <% if activity.target.respond_to? :avatar %>
            <%= link_to activity.target_path do %>
              <%= image_tag activity.target.avatar.url(:thumb),
              size: Settings.activity.avatar_size, class: "img-rounded" %>
            <% end %>
          <% end %>

          <% if activity.target.respond_to? :image %>
              <%= link_to activity.target_path do %>
                <div class="aaa">
                  <%= book_image_select(activity.target)%>
                  <div class="clearfix"></div>
                </div>
              <% end %>
          <% end %>

          <%= link_to activity.target_name, activity.target_path %>
          <span class="time-ago-in-words">
            <%= time_ago_in_words(activity.created_at) %>
            <%= t("views.activities.ago") %>
          </span>
        </div>
      </div>
    <hr>
    <% end %>
  </div>
  </div>
<% end %>
