<title><%= t "views.users.new.signup" %></title>
<% provide(:button_text, t("views.users.new.form.submit")) %>

<div class="container-fluid">
  <div class="hatd-login">
    <section id="content">
      <%= form_for @user, html: {multipart: true} do |f| %>
        <h1><%= t "views.users.new.signup" %></h1>
        <%= render partial: "shared/error_messages", locals: {object: @user}  %>

        <div>
          <%= f.text_field :name, id: "username" %>
        </div>


        <div>
          <%= f.email_field :email, id: "email" %>
        </div>

        <div>
          <%= f.password_field :password, id: "password" %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, id: "password-confirm" %>
        </div>

        <br>

        <div>
          <%= f.submit "Sign Up", class: "btn btn-primary text-center" %>
          <%= link_to "Log In Now!!!", login_path %>
        </div>
      <% end %>

    </section><!-- content -->
  </div><!-- container -->
</div>
