
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4" style="position: relative">
        <div class="w3-display-container">
          <%= image_tag @user.avatar.url, class: "hatd-avatar" %>
          <div class="w3-display-bottomleft w3-container w3-text-black"
            style="width: 100%; background-color: rgba(255,255,255,0.6);">
            <h2><%= @user.name %></h2>
          </div>
        </div>
        <div class="w3-container">
          <p class="hatd-profile-p">
            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <%= @user.email %>
          </p>
        </div>
        <div class="hatd-edit" data-toggle="modal" data-target="#myModal">
          <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 35px"></i>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom"
        style="min-height: 70vh;">
        <%= render "list_favorite_history" %>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="text-center"><%= t "views.users.edit.h2" %></h2>
      </div>
      <div class="modal-body">
        <%= render "edit_form" %>
      </div>
    </div>

  </div>
</div>
