<div class="col-md-10">
  <ul class="books">
    <% @books.each do |book| %>
      <div class="row">
        <div class="col-md-2">
          <%= link_to book_image_select(book), book %>
        </div>
        <div class="col-md-10">
          <h3><%= link_to book.title, book %></h3>
          <%= "Address" %><%= book.author %><br>
          <%= t "views.book.index.ratescore" %><%= book.rate_score %>
        </div>
      </div>
      <br>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>
