<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <%= image_tag @book.image, class: "restaurant-image", alt: "Hamburger Catering" %>
  <div class="w3-display-bottomleft w3-padding-xlarge w3-opacity">
    <h1 class="w3-xxlarge"><%= @book.title %></h1>
  </div>
</header>

<div class="w3-content" style="max-width:1100px">
  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <h4>
        <b><%= "Rate Place:   " %></b>
        <span class="average-review-rating" data-score="<%= @book.rate_place %>"></span>
      </h4>
      <hr>
      <h4>
        <b><%= "Rate Service: " %></b>
        <span class="average-review-rating" data-score="<%= @book.rate_service %>"></span>
      </h4>
      <hr>
      <h4>
        <b><%= "Rate Food: " %></b>
        <span class="average-review-rating" data-score="<%= @book.rate_food %>"></span>
      </h4>
      <hr>
      <h4>
        <b><%= "Rate Price: " %></b>
        <span class="average-review-rating" data-score="<%= @book.rate_price %>"></span>
      </h4>
      <hr>
      <h4>
        <b><%= "Rate Total: " %></b>
        <span class="average-review-rating" data-score="<%= @book.rate_score %>"></span>
      </h4>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center"><%= @book.title %></h1><br>
      <h5 class="w3-center"><b>Address: </b><%= @book.author %></h5>
      <p class="w3-large"><%= @book.description %></p>
    </div>
  </div>
  <div style="margin-left: 1030px">
    <%= social_share_button_tag(@book.title) %>
  </div>
  <% unless current_user.nil? %>
    <%= render "marks/mark_book" %>
    <% unless @reviewed.present? %>
      <%= link_to t("views.book.show.addreview"), new_restaurant_review_path(@book),
        class: "btn btn-info" %>
    <% end %>
  <% end %>
  <hr>
</div>

<div>
  <h3><%= @book.reviews.count %><%= t "views.book.show.reviews" %></h3>
  <%= render @reviews %>
  <%= will_paginate @reviews %>
</div>
