<div class="review-card">
  <div style="margin-left: 673px">
    <% if current_user && review.user.is_user?(current_user) %>
      <%= link_to edit_restaurant_review_path(review.book, review) do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
      <%= link_to restaurant_review_path(review.book, review),
        method: :delete, data: {confirm: t("views.book.show.delete_confirm")} do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    <% end %>
  </div>
  <%= link_to review.user do %>
    <%= image_tag review.user.avatar.url, size: "30x30" %>
    <span class="user-name">
      <%= review.user.name %>
    </span>
  <% end %>
  <span class="time-ago-in-words pull-right">
    <%= time_ago_in_words(review.created_at) %>
    <%= t("views.activities.ago") %>
  </span>
  <%= review_image_select(review) %>
  <div>
    <b><%= t "views.reviews.rating" %></b>
    <span class="review-rating" data-score="<%= review.rating %>" ></span>
  </div>
  <div>
    <b><%= t "views.reviews.content" %></b>
    <%= review.content %>
  </div>
  <div class="like-area">
      <%= render "like_reviews/like_form", review: review %>
  </div>
  <div style="margin: 20px 0;">
    <% unless current_user.nil?%>
      Comment
      <%= render "comments/comment_form",book: review.book, review: review,
        comment: review.user.comments.build %>
    <% end %>
  </div>
  <div class="comments" id="comments_<%= review.id %>">
    <%= render review.comments.order_by_time, book: @book, review: review %>
  </div>
</div>
<div class="clearfix"></div>
