<h1><%= t"views.reviews.edit.editreview"%></h1>
<%= form_for [@book, @review], url: restaurant_review_url(@book, @review), method: :put do |f| %>
  <div id="rating-form">
    <label><%= t("views.reviews.new.rating") %></label>
  </div>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= link_to "Back", restaurant_path(@book), class:"btn btn-danger" %>
  <%= f.submit :Update, class:"btn btn-primary width10" %>
<% end %>
