<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<%= link_to restaurant_path(@book) do %>
  <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <%= image_tag @book.image, class: "w3-image", alt: "Hamburger Catering", width: "1600", height: "800" %>
    <div class="w3-display-bottomleft w3-padding-xlarge w3-opacity">
      <h1 class="w3-xxlarge"><%= @book.title %></h1>
    </div>
  </header>
<% end %>
<div class="review-card">
  <div style="margin-left: 1070px">
    <% if current_user && @review.user.is_user?(current_user) %>
      <%= link_to edit_restaurant_review_path(@review.book, @review) do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
      <%= link_to restaurant_review_path(@review.book, @review),
        method: :delete, data: {confirm: t("views.book.show.delete_confirm")} do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    <% end %>
  </div>
  <%= link_to @review.user do %>
    <%= image_tag @review.user.avatar.url, size: "30x30" %>
    <span class="user-name">
      <%= @review.user.name %>
    </span>
  <% end %>
  <span class="time-ago-in-words pull-right">
    <%= time_ago_in_words(@review.created_at) %>
    <%= t("views.activities.ago") %>
  </span>
  <div>
    <b><%= t "views.reviews.content" %></b>
    <%= @review.content %>
  </div>
  <%= review_image_select(@review) %>
  <div>
    <b><%= "Place: " %></b>
    <span class="review-rating" data-score="<%= @review.rating_place %>" ></span>
  </div>
  <div>
    <b><%= "Service: " %></b>
    <span class="review-rating" data-score="<%= @review.rating_service %>" ></span>
  </div>
  <div>
    <b><%= "Food: " %></b>
    <span class="review-rating" data-score="<%= @review.rating_food %>" ></span>
  </div>
  <div>
    <b><%= "Price: " %></b>
    <span class="review-rating" data-score="<%= @review.rating_price %>" ></span>
  </div>
  <div>
    <b><%= "Total: " %></b>
    <span class="review-rating" data-score="<%= @review.rating %>" ></span>
  </div>
  <div class="like-area">
      <%= render "like_reviews/like_form", review: @review %>
  </div>
  <div style="margin: 20px 0; margin-top: 10px;">
    <% unless current_user.nil?%>
      Comment:
      <%= render "comments/comment_form",book: @book, review: @review,
        comment: @review.user.comments.build %>
    <% end %>
  </div>
  <div class="comments" id="comments_<%= @review.id %>">
    <%= render @comments, book: @book, review: @review %>
    <%= will_paginate @comments %>
  </div>
</div>
