<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
  <div class="blog-artical">
    <%= render "review", review: @review %>
    <h3 class="comment-title">Comments</h3>
    <div class="comments" id="comments_<%= @review.id %>">
      <%= render @comments, book: @book, review: @review %>
    </div>
    <div style="margin: 20px 0; margin-top: 10px;">
      <% unless current_user.nil?%>
        <%= render "comments/comment_form",book: @book, review: @review,
          comment: @review.user.comments.build %>
      <% end %>
    </div>
    <%= will_paginate @comments %>
  </div>
</div>
